{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        },
        "debug": false
      }
    ], 
  ],
  "plugins": [
    ["babel-plugin-inline-import", {
      "extensions": [
        ".graphql"
      ]
    }],
    [
      "babel-plugin-module-resolver", 
      {
        "root": ["./"],
				"alias": {
					"api": "./api",
					"data": "../data",
				}
      }
    ]
  ]
}